.menu{
  background-color: #000066;
  height: 92vh;
  padding: 0px;
}
.menu .list-item a{
  color: rgb(255, 255, 255);
}
.menu .list-item:hover {
  background-color: #0f0fb6;
}
.list-item .list-anchor {
  text-decoration: none;
  width: 100%;
  display: flex;
}

.list-item {
  list-style-type: none;
  cursor: pointer;
}
.user-image{
    border-radius: 50%;
}