{% extends 'base.html' %} {% block head %} <link rel="stylesheet" href={{
url_for("static",filename='css/sidemenu.css') }} /> {% endblock %} {%
block sidemenu%} {% include 'sidemenu.html' %} {% endblock %} {% block section
%}
<center class="my-4"><h3>Cheque History</h3></center>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bank Name</th>
      <th scope="col">Bearer</th>
      <th scope="col">Amount</th>
      <th scope="col">Is Valid</th>
      <th scope="col">Account No.</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for cheque in chequeDetails %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{cheque.bank_name}}</td>
      <td>{{cheque.bearer}}</td>
      <td>{{cheque.amount}}</td>
      <td>{{cheque.isvalid}}</td>
      <td>{{cheque.account_no}}</td>
      <td>{{cheque.date}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endblock %} 
