{% extends 'base.html' %} {% block head %}
<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href={{ url_for("static",filename='css/validate-cheque.css') }} />
<link rel="stylesheet" href={{ url_for("static",filename='css/sidemenu.css') }}
/> {% endblock %} {% block sidemenu%} {% include 'sidemenu.html' %} {% endblock
%} {% block section %}
<div class="m-4 d-flex justify-content-center">
  <img width="400px" id="previewImg"  />
</div>
  <div class="m-4">
    <label for="formFile" class="form-label">Upload your cheque</label>
    <input
    onchange="previewFile(this)"
      class="form-control"
      type="file"
      name="cheque"
      id="chequeImage"
    />
  </div>
  <div class="text-center">
    <input
    id="submitCheque"
      type="submit"
      class="btn btn-primary text-center"
      value="Verify Cheque"
    />
  </div>

  <div id="loader" class="mt-4 d-flex flex-column align-items-center">
    <h5>Hold on, your check is processing...</h5>
    <img width="300px"  src="{{url_for('static',filename='images/loading.gif')}}" />
  </div>
  {% endblock %}
  {% block jsscripts %}
    <script src={{
      url_for("static",filename='js/validate-cheque.js') }}></script>
  {% endblock %}
